/* Applies to everything on the page. */
* {
    font-family: "Trebuchet MS", serif; /* Default and fall-back font. */

    /* Prevents over-scrolling horizontally and vertically. */
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.topNav {

}

.iconLink:hover {
    color: gray;
}

/* Horizontal Lists */
.hList {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.hListItem {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.accreditation {
    color: gray;
    font-size: 10px;
}

/* For the fixed navigation bar at the top of every page. */
.navBar {
    text-align: left;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

.navBar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: gray;
    color: black;
}

/* For the fixed footer at the bottom of every page. */
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
